@font-face {
    font-family: 'Archive';
    src: local('Archive'), url('archive.woff2') format('woff2'), url('archive.woff') format('woff'), url('archive.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
